.menu_bar {
    background-color:black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo {
    margin-left: 10px; 
}

.logo img {
    max-height: 12%; 
    max-width: 12%; 
    height: auto; 
    width: auto; 
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
    position: relative;
}

.menu_bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;

    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color: rgb(25, 105, 255);
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;   
}

.menu_bar ul li:hover .dropdown_menu ul {
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu ul li {
    width: 150px;
    padding: 10px;
}

/* Banner */
.banner {
    background-image: url('./images/pets-banner-595x180.jpeg'); 
    background-size: cover;
    height: 500px; 
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    font-weight: bold;
}

.banner h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.banner p {
    font-size: 20px;
}

/* Container */
.container {
    padding: 20px;
}

.container h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    line-height: 1.6;
}

/* Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Pet of the Week */
.pet-of-the-week {
    margin-bottom: 40px;
}

.pet-of-the-week img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.pet-info {
    text-align: left;
}

/* Featured Pets */
.featured-pets {
    margin-top: 40px;
}

.featured-pets .card {
    margin-bottom: 20px;
}
