.menu_bar {
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo {
    margin-left: 10px; 
}

.logo img {
    max-height: 12%; 
    max-width: 12%; 
    height: auto; 
    width: auto; 
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
    position: relative;
}

.menu_bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color: rgb(25, 105, 255);
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;   
}

.menu_bar ul li:hover .dropdown_menu ul {
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu ul li {
    width: 150px;
    padding: 10px;
}

/* Dynamic Text Container */
.container {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: right;
    text-align: right;
}

.container .row {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container .row .col-md-6 {
    width: 100%;
    max-width: 600px;
}

.container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Inbox */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.shelter-notifications {
    margin-bottom: 30px;
}

.shelter-notifications h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.shelter-notifications ul {
    list-style-type: none;
    padding: 0;
}

.shelter-notifications ul li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
}

.shelter-notifications ul li:last-child {
    margin-bottom: 0;
}