.login{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



.card {
    border: 1px solid #ccc; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#shelterSignupForm input[type="text"],
#shelterSignupForm input[type="email"],
#shelterSignupForm input[type="number"],
#shelterSignupForm input[type="password"] {
    margin-bottom: 10px; /* Add margin-bottom to create vertical padding */
}

#userSignupForm input[type="text"],
#userSignupForm input[type="email"],
#userSignupForm input[type="number"],
#userSignupForm input[type="password"] {
    margin-bottom: 10px; /* Add margin-bottom to create vertical padding */
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    margin-bottom: 10px; /* Add margin-bottom to create vertical padding */
}

#customAmountInput {
    display: none;
    margin-top: 10px; /* Add margin-top to create space between custom input and dropdown */
}

.container {
    height: 200px;
    position: relative;
  }

  button {
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
  }
