.menu_bar {
    background-color:black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.logo {
    margin-left: 10px; 
}

.logo img {
    max-height: 12%; 
    max-width: 12%; 
    height: auto; 
    width: auto; 
}

.menu_bar ul {
    list-style: none;
    display: flex;
}

.menu_bar ul li {
    padding: 10px 30px;
    position: relative;
}

.menu_bar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;

    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color: rgb(25, 105, 255);
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;   
}

.menu_bar ul li:hover .dropdown_menu ul {
    display: block;
    margin: 10px;
}

.menu_bar ul li:hover .dropdown_menu ul li {
    width: 150px;
    padding: 10px;
}



.login{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}



.card {
    border: 1px solid #ccc; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#shelterSignupForm input[type="text"],
#shelterSignupForm input[type="email"],
#shelterSignupForm input[type="number"],
#shelterSignupForm input[type="password"] {
    margin-bottom: 10px; /* Add margin-bottom to create vertical padding */
}

#userSignupForm input[type="text"],
#userSignupForm input[type="email"],
#userSignupForm input[type="number"],
#userSignupForm input[type="password"] {
    margin-bottom: 10px; /* Add margin-bottom to create vertical padding */
}

#loginForm input[type="text"],
#loginForm input[type="password"] {
    margin-bottom: 10px; /* Add margin-bottom to create vertical padding */
}

#customAmountInput {
    display: none;
    margin-top: 10px; /* Add margin-top to create space between custom input and dropdown */
}

.button-container {
    display: flex;
    justify-content:center;
    margin-top: 20px;
  }

.button-container button {
    margin: 0 10px;
  }


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 35%; /* Adjust the distance from the left */
    top: 20%; /* Adjust the distance from the top */
    width: 30%; /* Set the width of the modal */
    height: 60%; /* Set the height of the modal */
    overflow: auto; /* Enable scroll if needed */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Set width of the modal content */
    height: auto; /* Allow content to adjust height */
    overflow-y: auto; /* Enable scroll for content if needed */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
